<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023 1040EZ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>

<body>

    <header class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <strong>2023 1040EZ</strong>
                </a>
            </div>
        </nav>
    </header>

    <section class="section" id="app">
        <div class="container">
            <h1 class="title">2023 Simplified Tax Form</h1>
            <!-- Put your solution here -->
            <table class="table table is-striped">
                <colgroup span="3"></colgroup>
                <tbody>
                    <tr class="row-1">
                        <td rowspan="6">Income</td>
                        <td> <b>1</b> Wages, saleries, and tips. This should be shown in box 1 of your Form(s) W-2. Attach your Form(s) W-2.</td>
                        <td> <input class="input is-small" type="number" title="Income" name="value-1" v-model="input1"> </td>

                    </tr>
                    <tr class="row-2">
                        <td><b>2</b> Taxable interest from 1099 forms.</td>
                        <td> <input class="input is-small" type="number" title="value-2" v-model="input2"> </td>
                    </tr>
                    <tr class="row-3">
                        <td><b>3</b> Other income not included in 1 and 2.</td>
                        <td> <input class="input is-small" type="number" title="value-3" v-model="input3"> </td>
                    </tr>
                    <tr class="row-4"> 
                        <td><b>4</b> Add lines 1, 2, and 3. This is your adjusted gross income.</td>
                        <td> <input class="input is-small" type="number" title="value-4" :value="total" readonly> </td>
                    </tr>
                    <tr class="row-5">
                        <td><b>5</b> If this is a joint return, add your spouse as a dependent. Write $13,850 for and individual return and $27,700 for a joint return.
                            <label class="checkbox"> Spouse <input type="checkbox" name ="filing-jointly" v-model="isChecked" @change="checkbox" /> </label>
                        </td>
                        <td> <input class="input is-small" type="number" title="value-5" :value="checkboxValue" readonly></td>
                    </tr>
                    <tr class="row-6">
                        <td><b>6</b> Subtract line 5 from line 4. If line 5 is larger than line 4, enter -0-. This is your taxable income.</td>
                        <td> <input class="input is-small" type="number" title="value-6" value="0" readonly> </td>
                    </tr>
                    <tr class="row-7">
                        <td rowspan="6">Payments, Credits, and Tax</td>
                        <td><b>7</b> Federal income tax withheld from Form(s) W-2 and 1099.</td>
                        <td> <input class="input is-small" type="number" title="value-7"> </td>
                    </tr>
                    <tr class="row-8">
                        <td><b>8</b> Earned income credit (EIC)</td>
                        <td> <input class="input is-small" type="number" title="value-8"> </td>
                    </tr>
                    <tr class="row-9"> 
                        <td><b>9</b> Add lines 7 and 8a. These are your total payments and credits.</td>
                        <td> <input class="input is-small" type="number" title="value-9" value="0" readonly> </td>
                    </tr>
                    <tr class="row-10">
                        <td><b>10</b> Tax. Use the amount on line 6 above to find your tax in the tax table in the instructions. Then, enter the tax form the table on this line.</td>
                        <td> <input class="input is-small" type="number" title="value-10" value="0" readonly> </td>
                    </tr>
                    <tr class="row-11">
                        <td><b>11</b> Other Taxes.</td>
                        <td> <input class="input is-small" type="number" title="value-11"> </td>
                    </tr>
                    <tr class="row-12">
                        <td><b>12</b> Add lines 10 and 11. This is your total tax.</td>
                        <td> <input class="input is-small" type="number" title="value-12" value="0"> </td>
                    </tr>
                    <tr class="row-13">
                        <td>Refund</td>
                        <td><b>13</b> If line 9 is larger than line 12, subtract line 9. This is your refund. If Form 8888 is attached, check here</td>
                        <td> <input class="input is-small" type="number" title="value-13" value="0" readonly> </td>
                    </tr>
                    <tr class="row-14"> 
                        <td>Amount You Owe</td>
                        <td><b>14</b> If line 12 is larger than line 9, subtract line 12. This is the amount you owe. For details on how to pay, see instructions.</td>
                        <td> <input class="input is-small" type="number" title="value-14" value="0" readonly> </td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="">License BSD</a>.
            </p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>